body {
  text-align: center;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    top right 85% no-repeat #607D8B;
}
.demo-card-square{
  margin-right: 30px;
  margin-bottom: 30px;
}
