<div class="container" style="width: 70% auto">
    <md-card class="">
        <md-card-content>
            <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" #dataModelForm="ngForm">
                  
                  <div class="row">
                    <div class="col-xs-offset-3 col-xs-6">
                        <div class="form-group">
                          <md-input-container>
                            <input mdInput placeholder="Project Title" id="title"
                                    style="width: 100%"  
                                    name="title"
                                    [(ngModel)]="project.title" formControlName="title" required>
                          </md-input-container>
                        </div>

                        <div class="form-group">
                          <md-input-container>
                            <textarea mdInput placeholder="Description" style="width: 100%" dividerColor="warn"
                                    name="description" dividerColor="green" class=""
                                    [(ngModel)]="project.description" formControlName="description">
                            </textarea>
                          </md-input-container>
                        </div>
                         <div class="form-group">
                            <md-input-container>
                              <input mdInput placeholder="Target Feature" style="width: 100%"
                                    name="targetFeature" 
                                    [(ngModel)]="project.targetFeature" formControlName="targetFeature">
                                    <span><i class="material-icons info-icon" mdTooltip="The  column is used as the target feature to fit">info</i></span>
                            </md-input-container>
                         </div>
                        <div class="row">
                          <div class="col-md-6">
                            <br><br>
                            <div class="form-group">     
                              <input type="file"
                                    class="inputfile"
                                    ngFileSelect
                                    [options]="options"
                                    (onUpload)="handleUpload($event)"/>
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-gorup">
                                <md-input-container>
                                  <label for="hc-fraction-of-nn" >hc-fraction-of-nn</label>
                                  <input mdInput id="hc-fraction-of-nn"
                                        type="number">
                                  <span><i class="material-icons info-icon" mdTooltip="Controls  hill-climbing  algorithm behavior">info</i></span>      
                                </md-input-container>                             
                              </div>
                          </div>
                        </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <md-card>
                        <md-card-content>
                          <fieldset class="boosted-dyn-features">
                        <div class="row">
                          <div class="col-md-4">
                            <br>
                            <div class="form-group">
                              <md-slide-toggle id="enable-fs" >
                                enable-fs <span><i class="material-icons info-icon" mdTooltip="Enable integrated feature selection">info</i></span>
                            </md-slide-toggle>
                        </div>
                          </div>
                          <div class="col-md-4">
                            <br>
                            <div class="form-group">
                            <md-select placeholder="fs-algo" name="fs-algo"
                                       id="fs-algo">
                              <md-option [value]="simple">simple</md-option>
                              <md-option [value]="inc">inc</md-option>
                              <md-option [value]="smd">smd</md-option>
                              <md-option [value]="hc">hc</md-option>
                              <md-option [value]="random">random</md-option>
                              <span><i class="material-icons info-icon" mdTooltip="Choose the feature-selection algorithm">info</i></span>
                            </md-select>
                        </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                            <md-input-container>
                              <label for="fs-target-size">fs-target-size</label>
                              <span><i class="material-icons info-icon" mdTooltip="Select num features for use">info</i></span>
                              <input mdInput id="fs-target-size" type="number">
                            </md-input-container> 
                          </div>
                          </div>
                        </div>
                        <br>
                      </fieldset>
                        </md-card-content> 
                      </md-card> 
                    </div>
                    <div class="col-xs-6">
                      <md-card>
                        <md-card-content>
                          <fieldset class="algo-control-option">
                          <div class="row">
                             <div class="col-md-4">
                            <div class="form-group" >
                            <md-input-container>
                              <label for="complexity-ratio">complexity-ratio</label>
                              <br>
                              <br>
                              <span><i class="material-icons info-icon" mdTooltip="Fix the ratio of score to complexity">info</i></span>
                              <input mdInput id="complexity-ratio" type="number">
                            </md-input-container>
                          </div> 
                          </div>
                            <div class="col-md-4">
                            <div class="form-group">
                            <md-input-container>
                              <label for="hc-crossover-min-neighbors">hc-crossover-min-neighbors</label>
                              <span><i class="material-icons info-icon" mdTooltip="Recommended values for this option are 100 to 500">info</i></span>
                              <input mdInput id="hc-crossover-min-neighbors" type="number">
                            </md-input-container>
                          </div>  
                          </div>                       
                          <div class="col-md-4">
                            <div class="form-group">
                            <md-input-container>
                              <label for="hc-crossover-pop-size">hc-crossover-pop-size</label>
                              <span><i class="material-icons info-icon" mdTooltip="If crossover is enabled, this controls the number of cross-ever instances that are created">info</i></span>
                              <input mdInput id="hc-crossover-pop-size" type="number">
                            </md-input-container>
                          </div>
                          </div>
                          </div>
                      </fieldset>
                        </md-card-content>
                      </md-card>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <md-card>
                        <md-card-content> 
                          <fieldset class="output-control-options">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                            <md-slide-toggle
                                id="w1"
                                (change)="onW1Changed($event)"
                                [color]="primary" >
                                W1 <span><i class="material-icons info-icon" mdTooltip="Use named labels instead of position place-holders when printing candidates">info</i></span>
                            </md-slide-toggle>
                          </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <md-slide-toggle
                                  mdTooltip="Prevent printing of the score"
                                  id="output-score"
                                  [color]="primary" >
                                  output-score <span><i class="material-icons info-icon" mdTooltip="Prevent printing of the score">info</i></span>
                              </md-slide-toggle>
                          </div>
                          </div>
                          <div class="col-md-6">
                            <br>
                            <div class="form-group">
                            <md-select placeholder="log level" name="loglevel" 
                                id="loglevel" >
                              <md-option [value]="NONE">NONE</md-option>
                              <md-option [value]="ERROR">ERROR</md-option>
                              <md-option [value]="WARN">WARN</md-option>
                              <md-option [value]="INFO">INFO</md-option>
                              <md-option [value]="DEBUG">DEBUG</md-option>
                              <md-option [value]="FINE">FINE</md-option>
                              <span><i class="material-icons info-icon" mdTooltip="Specify the level of detail for debug logging">info</i></span>
                            </md-select>
                          </div>
                          </div>
                          <div class="col-md-3">
                             <div class="form-group">
                            <md-input-container >
                              <label for="result-count">result-count</label> 
                              <span><i class="material-icons info-icon" mdTooltip="The number of results to return, ordered according to score">info</i></span>
                              <input mdInput id="result-count" type="number">
                            </md-input-container>
                          </div>
                          </div>
                        </div>
                        </fieldset>
                        </md-card-content>
                      </md-card>
                    </div>
                    <div class="col-xs-6">
                      <md-card>
                        <md-card-content>
                          <fieldset class="algo-tunning-options">
                        <div class="row">
                          <div class="col-md-6">
                            <br>
                            <div class="form-gorup">
                          <md-select placeholder="reduct-knob-building-effort" name="reduct-knob-building-effort" 
                                      id="reduct-knob-building-effort">
                              <md-option [value]="0">0</md-option>
                              <md-option [value]="1">1</md-option>
                              <md-option [value]="2">2</md-option>
                              <md-option [value]="3">3</md-option>
                              <span><i class="material-icons info-icon" mdTooltip="Effort allocated for reduction during the knob-building stage">info</i></span>
                            </md-select>
                        </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                          <md-slide-toggle
                                  id="hc-widen-search"
                                  [color]="primary" >
                                  hc-widen-search  <span><i class="material-icons info-icon" mdTooltip="Controls hill-climbing algorithm behavior">info</i></span>
                              </md-slide-toggle>
                        </div>
                          </div>
                        </div>
                        <br><br>
                      </fieldset>
                        </md-card-content> 
                      </md-card>
                    </div> 
                  </div>

                  <button type="submit" class="mdl-button--colored mdl-button mdl-js-button mdl-button--raised" style="margin-left: 80%">
                      Create
                  </button>
                
            </form>
        </md-card-content>
    </md-card>
</div>


