<div class="container">
  <button class="mdh-toggle-search mdl-button mdl-js-button mdl-button--icon mdl-cell--hide-tablet mdl-cell--hide-desktop">
    <i class="material-icons">search</i>
  </button>
  <div *ngIf="projects &&  projects.length >0" class="mdl-grid">
    <div *ngFor="let project of projects let i = index">
      <div class="demo-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text">{{project?.title?.toUpperCase()}}({{randSize + (2*i)}})MB</h2>
        </div>
        <div class="mdl-card__supporting-text">
          {{project?.description}}
        </div> <div class="mdl-card__supporting-text"  style="float: right;">
          Jan 25, 2017
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" [routerLink]="['/projects', project.id]">
            View Detail
          </a>

          <button (click)="deleteProject(project)"
                  class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" >
            Delete
          </button>
        </div>
      </div>


    </div>
  </div>

  <div class="md-grid" *ngIf="!projects || projects.length==0">
    <h5> Oops,No projects found. <a [routerLink]="['','projects','create']">create</a> now </h5>
  </div>
</div>
